<div
  class="temperature-conditon">
  <button
    class="logic-button"
    md-mini-fab>{{condition.logicOperator}}</button>
  <md-card>
    <md-card-content>
      <md-icon
        class="type-icon"
        svgIcon="thermometer"></md-icon>
      <md-input-container class="value-input-wrapper"
        color="warn">
        <input
          class="value-input"
          mdInput
          [(ngModel)]="condition.value"
          (ngModelChange)="onChange()"
          type="number"
          min="0"
          max="25"
          step="0.5">
        <label
          mdSuffix>&deg;C</label>
      </md-input-container>
    </md-card-content>
  </md-card>
</div>