<div
  class="temperature-conditon">
  <md-card
    [class.group-top]="isGroupTop"
    [class.group-bottom]="isGroupBottom">
    <md-card-content>
      <md-icon
        class="type-icon"
        svgIcon="thermometer"></md-icon>
      <md-input-container class="value-input-wrapper">
        <input
          class="value-input"
          mdInput
          [(ngModel)]="condition.value"
          (ngModelChange)="onChange()"
          type="number"
          min="0"
          max="25"
          step="0.5">
        <label
          mdSuffix>&deg;C</label>
      </md-input-container>
      <div
        class="layout-spacer"></div>
      <md-button-toggle
        [checked]="settingsActive"
        (change)="settingsActive = !settingsActive">
        <md-icon>settings</md-icon>
      </md-button-toggle>
    </md-card-content>
    <md-card-actions
      *ngIf="settingsActive">
      <md-button-toggle-group
        class="logic-operators"
        [(ngModel)]="condition.logicOperator"
        (ngModelChange)="onChange()">
        <md-button-toggle
          value="and">And</md-button-toggle>
        <md-button-toggle
          value="or">Or</md-button-toggle>
        <md-button-toggle
          value="xand">Not and</md-button-toggle>
        <md-button-toggle
          value="xor">Not or</md-button-toggle>
      </md-button-toggle-group>
      <button
        md-button
        (click)="deleteCondition()">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>