<md-card>
  <md-card-header>
    <md-card-title>{{rule.name}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <app-rule-detail
      [rule]="rule"></app-rule-detail>
    <!--<ng-container
      *ngFor="let condition of rule.conditions">
      <app-temperature-condition
        *ngIf="condition.type === 'temperature'"
        [condition]="condition">
      </app-temperature-condition>
    </ng-container>
    <md-card
      *ngFor="let condition of rule.conditions">
      <md-card-header>
        <md-card-title>
          {{condition.type}}
        </md-card-title>
        <md-card-subtitle>{{condition.logicOperator}}</md-card-subtitle>
      </md-card-header>
      <md-card-content
        *ngIf="condition.type === 'time'">
        <h3>{{condition.startTime  + ' - ' + condition.endTime}}</h3>
      </md-card-content>
    </md-card>-->
  </md-card-content>
</md-card>