<div
  class="week-day-conditon">
  <md-card
    [class.group-top]="isGroupTop"
    [class.group-bottom]="isGroupBottom">
    <md-card-content>  
      <md-icon
        class="condition-icon"
        [class.button-selected]="settingsActive"
        (click)="settingsActive = !settingsActive">date_range</md-icon>
      <md-button-toggle-group
        class="value-input-wrapper"
        multiple>
        <md-button-toggle [value]="condition.monday" [checked]="condition.monday" (change)="toggleDay('monday')">M</md-button-toggle>
        <md-button-toggle [value]="condition.tuesday" [checked]="condition.tuesday" (change)="toggleDay('tuesday')">T</md-button-toggle>
        <md-button-toggle [value]="condition.wednesday" [checked]="condition.wednesday" (change)="toggleDay('wednesday')">W</md-button-toggle>
        <md-button-toggle [value]="condition.thursday" [checked]="condition.thursday" (change)="toggleDay('thursday')">T</md-button-toggle>
        <md-button-toggle [value]="condition.friday" [checked]="condition.friday" (change)="toggleDay('friday')">F</md-button-toggle>
        <md-button-toggle [value]="condition.saturday" [checked]="condition.saturday" (change)="toggleDay('saturday')">S</md-button-toggle>
        <md-button-toggle [value]="condition.sunday" [checked]="condition.sunday" (change)="toggleDay('sunday')">S</md-button-toggle>
      </md-button-toggle-group>
    </md-card-content>
    <md-card-actions
      *ngIf="settingsActive">
      <md-button-toggle-group
        class="logic-operators"
        [(ngModel)]="condition.logicOperator"
        (ngModelChange)="onChange()">
        <md-button-toggle
          value="and">And</md-button-toggle>
        <md-button-toggle
          value="or">Or</md-button-toggle>
        <md-button-toggle
          value="xand">Not and</md-button-toggle>
        <md-button-toggle
          value="xor">Not or</md-button-toggle>
      </md-button-toggle-group>
      <button
        md-button
        (click)="deleteCondition()">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>