.device-detail-block {
  margin: 1rem;
  margin-bottom: 1.5rem;
}

.device-header {
  display: flex;
  justify-content: space-between;
}

.loading-button {
  background-color: #808080;
}

.device-card {
  padding: 1rem;
  margin-bottom: 0.25rem;
}