<md-card
  class="device-card">
  <h1>{{device.name}}</h1>
  <app-toggle-button
    [selected]="device.state"
    [deviceInSync]="!device.updatedByHost"
    (onSelectedChange)="setDeviceState($event)"></app-toggle-button>
  <!--<button
    *ngIf="device.state"
    [ngClass]="{'loading-button': device.updated}"
    (click)="toggleDeviceState()"
    color="primary"    
    md-fab><md-icon>check</md-icon></button>
  <button
    *ngIf="!device.state"
    [ngClass]="{'loading-button': device.updated}"    
    (click)="toggleDeviceState()"
    color="warn"
    md-fab><md-icon>close</md-icon></button>-->
</md-card>
