<div
  class="time-conditon">
  <md-card
    [class.group-top]="isGroupTop"
    [class.group-bottom]="isGroupBottom">
    <md-card-content>
      <md-icon
        [class.settings-selected]="settingsActive"
        (click)="settingsActive = !settingsActive">access_time</md-icon>      
      <md-input-container class="value-input-wrapper"
        color="warn">
        <input
          class="value-input"
          mdInput
          [(ngModel)]="condition.startTime"
          (ngModelChange)="onChange()"
          type="time"
          placeholder="start time">
      </md-input-container>
      <md-input-container class="value-input-wrapper"
        color="warn">
        <input
          class="value-input"
          mdInput
          [(ngModel)]="condition.endTime"
          (ngModelChange)="onChange()"
          type="time"
          placeholder="end time">
      </md-input-container>
    </md-card-content>
    <md-card-actions
      *ngIf="settingsActive">
      <md-button-toggle-group
        class="logic-operators"
        [(ngModel)]="condition.logicOperator"
        (ngModelChange)="onChange()">
        <md-button-toggle
          value="and">And</md-button-toggle>
        <md-button-toggle
          value="or">Or</md-button-toggle>
        <md-button-toggle
          value="xand">Not and</md-button-toggle>
        <md-button-toggle
          value="xor">Not or</md-button-toggle>
      </md-button-toggle-group>
      <button
        md-button
        (click)="deleteCondition()">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>