<div
  class="time-conditon">
  <ng-container
    [ngSwitch]="condition.logicOperator">
    <button
      *ngSwitchCase="'and'"
      class="logic-button"
      md-mini-fab
      mdTooltip="And"
      mdTooltipPosition="above"><md-icon>add</md-icon></button>
    <button
      *ngSwitchCase="'xand'"
      class="logic-button"
      md-mini-fab
      mdTooltip="Not And"
      mdTooltipPosition="above"><md-icon>remove</md-icon></button>
  </ng-container>
  <md-card>
    <md-card-content>
      <md-icon>access_time</md-icon>      
      <md-input-container class="value-input-wrapper"
        color="warn">
        <input
          class="value-input"
          mdInput
          [(ngModel)]="condition.startTime"
          (ngModelChange)="onChange()"
          type="time"
          placeholder="start time">
      </md-input-container>
      <md-input-container class="value-input-wrapper"
        color="warn">
        <input
          class="value-input"
          mdInput
          [(ngModel)]="condition.endTime"
          (ngModelChange)="onChange()"
          type="time"
          placeholder="end time">
      </md-input-container>
    </md-card-content>
  </md-card>
</div>